@font-face {
    font-family: "DIN";
    src: url("/static/fonts/DINPro-Regular.otf") format('opentype');
}
@font-face {
    font-family: "DIN";
    font-weight: bold;
    src: url("/static/fonts/DINPro-Medium.otf") format('opentype');
}
.gray{
    color: #B2B2B2;
}
.blue {
    color: #356686;
}
.black {
    color: #3C3C3B;
}
.white {
    color: #FFF;
}
.bggray{
    background-color: #EEEDED;
}
.bgblue {
    background-color: #356686;
}
.bgblack {
    background-color: #3C3C3B;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea {
    height: 4em;
    width: 100%;
}
header {
    min-height: 150px;
}
#logo {
    float: left;
    margin: 2em 0;
    max-width: 30%;
}
#sitename {
    padding: 2em 0.5em;
}
nav {
    border-top: solid 1px #356686;
    padding: .5em;
    margin-left: 150px;
    font-weight: bold;
    font-size: 1.1em;
}
#headersep {
    height: 20px;
    margin-bottom: 20px;
}
#contenttitle {
    height: 40px;
    margin: -10px 30px;
    border: solid 2px;
    padding: 0 10px;
    background: white;
    max-width: 90%;
}
#contenttitle h2 {
    margin-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
section {
    margin-top: 2em;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
}
.practice-table {
    border: solid 1px #356686;
    margin: auto;
    width: auto;
    min-width: 50%;
}
.practice {
    border: solid 1px #356686;
    max-width: 600px;
    margin-bottom: 2em;
}
.practice-header {
    height: 3em;
    padding: 0.8em;
}
.practice-author {
    position: absolute;
}
.practice-axis {
    border: solid 2px #356686;
    padding: .3em;
}
.practice-content {
    padding: 0 1em;
}
#comments {
    max-width: 600px;
}

@media screen and (min-width: 992px) {
    body {
        margin-bottom: 70px;
    }
    footer {
        height: 60px;
    }
}
@media screen and (max-width: 992px) {
    body {
        margin-bottom: 130px;
    }
    footer {
        height: 120px;
    }
    .practice {
        clear: both;
    }
}
@media screen and (max-width: 350px) {
    nav {
        margin-left: 30%;
    }
}
.icone {
    width:  25px;
    height: 30px;
}
.btn-action {
    background-color: #356686;
    color:            #ffffff;
}
.title-border {
    border:        2px solid #356686;
    border-radius: 4px; 
    padding:       6px 12px;
}