.gray{
    color: #B2B2B2;
}
.blue {
    color: #356686;
}
.black {
    color: #3C3C3B;
}
.white {
    color: #FFF;
}
.bggray{
    background-color: #EEEDED;
}
.bgblue {
    background-color: #356686;
}
.bgblack {
    background-color: #3C3C3B;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
}
#header {
    height: 150px;
}
#logo {
    float: left;
    margin: 2em;
}
#sitename {
    padding: 2em;
}
#headermenu {
    border-top: solid 1px #356686;
    padding: .5em;
    margin-left: 150px;
}
#headersep {
    height: 20px;
    margin-bottom: 20px;
}
#contenttitle {
    height: 40px;
    margin: -10px 30px;
    border: solid 2px;
    padding: 0 10px;
    background: white;
}
#contenttitle h2 {
    margin-top: 1px;
}
#content {
    margin-top: 2em;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.practice {
    border: solid 1px #356686;
    max-width: 600px;
    margin-bottom: 2em;
}
.practice-header {
    height: 3em;
    padding: 0.8em;
}
.practice-axis {
    border: solid 2px #356686;
    padding: .3em;
}
.practice-content {
    padding: 0 1em;
}
