{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block pagetitle %}{% trans 'Login' %}{% endblock %}
{% block contenttitle %}{% trans 'Login' %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form class="form-horizontal col-sm-6" action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="submit-row">
        <label>&nbsp;</label><input type="submit" class="btn btn-action"value="{% trans 'Log in' %}" />
    </div>
</form>
<div class="clearfix"></div><br/>
<p>
    {% trans "No account yet?" %}
</p>
<a href="{% url 'registration_register' %}" class="btn btn-action">{% trans "Register" %}</a>
<a href="#" class="btn btn-action">Mot de passe oublié ?</a>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
