{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}

<main class="container">
    <div class="content-password">
        {% if validlink %}
            <h1 class="mdp-title">{% trans 'Password reset' %}</h1>
        <br/>
        <p class="mdp-alignement">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form action="" method="post">{% csrf_token %}
        {{form|bootstrap}}
        <p><input type="submit" value="{% trans 'Change my password' %}" class="mdp-submit"/></p>
        </form>

        {% else %}

        <h1 class="mdp-title">{% trans 'Password reset unsuccessful' %}</h1>
        <br/>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}
    </div>
</main>
{% endblock %}
