{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{{ practice.title }}{% endblock %}
{% block contenttitle %}<a href="{% url 'practices:index' subject_id=subject.id %}">{{ subject.title }}</a>{% endblock %}
{% block content %}
<div class="pull-right">
    {% if user == practice.author %}
    <div><a href="{% url 'practices:edit' subject_id=subject.id pk=practice.id %}">{% trans "Edit" %}</a></div>
    {% endif %}
    <div><a href="{% url 'practices:duplicate' subject_id=subject.id pk=practice.id %}">{% trans "Duplicate" %}</a></div>
    <div><a href="mailto:?subject={{ subject.title }}&body=http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}">{% trans "Send by email" %}</a></div>
    <div>{% trans "Created on"%} {{ practice.created }}</div>
    <div>{% trans "Updated on"%} {{ practice.updated }}</div>
</div>

<div class="center-block practice">
    <div class="bgblue white practice-header">
        <div class="practice-author">{{ practice.author }}</div>
        <div class="text-center"><b>{{ practice.title }}</b></div>
    </div>
    <div>
        {% for axisvalue in practice.practiceaxisvalue_set.all %}
        <div class="col-md-6 text-center practice-axis">{{ axisvalue.value }}</div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
    
    <div class="practice-content">
        {% for fieldvalue in practice.practicefieldvalue_set.all %}
        <p>
            <span class="blue"> {{ fieldvalue.field }}:</span>
            {{ fieldvalue.value }}
        </p>
        {% endfor %}
        <p>
            <span class="blue">{% trans "URL" %}:</span>
            <a target="_blank" href="{{ practice.url }}">{{ practice.url }}</a>
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<div id="comments" class="center-block">
    <div class="bgblue white practice-header">
        {% trans "Comments" %}
    </div>
    {% for comment in practice.comment_set.all %}
    <div class="comment">
        {{comment.author}} {% trans "on" %} {{comment.date}} :
        {{comment.text}}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <form action="{% url 'practices:comment' subject_id=subject.id pk=practice.id %}" method="POST">
        {% csrf_token %}
        <label for="{{ comment_form.text.id_for_label }}">{% trans "Add a comment" %}</label>
        {{comment_form.text}}
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
    {% else %}
    {% trans "Please" %} <a href="{% url 'accounts:login' %}">{% trans "Log in" %}</a> {% trans "to comment this practice." %}
    {% endif %}
</div>
{% endblock %}
