{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "Good practices" %}{% endblock %}
{% block contenttitle %}{% trans "Good practices" %}{% endblock %}
{% block content %}

{% if practice_list %}
{% regroup practice_list|dictsort:"axis1" by axis1 as axis1_list %}
<div class="center-block practice">
    <table class="table table-striped">
        {% for axis1_group in axis1_list %}
        <tr>
            <th>{{axis1_group.grouper}}</th>
            <td>
            {% regroup axis1_group.list|dictsort:"axis2" by axis2 as axis2_list %}
            {% for axis2_group in axis2_list %}
            <td>
                {% for practice in axis2_group.list %}
                    <a href="{% url 'practices:detail' subject_id=subject.id pk=practice.id %}">
                        {{ practice.title }}
                    </a>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p>No practices are available.</p>
{% endif %}
<a href="{% url 'practices:new' subject_id=subject.id %}">Add new</a>
{% endblock %}
