{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{{ practice.title }}{% endblock %}
{% block contenttitle %}{{ subject.title }}{% endblock %}
{% block content %}
<div class="pull-right">
    <div><a href="{% url 'practices:edit' subject_id=subject.id pk=practice.id %}">{% trans "Edit" %}</a></div>
    <div><a href="">{% trans "Duplicate" %}</a></div>
    <div>{% trans "Created on"%} {{ practice.created }}</div>
    <div>{% trans "Updated on"%} {{ practice.updated }}</div>
</div>

<div class="center-block practice">
    <div class="bgblue white practice-header">
        <div class="practice-author">{{ practice.author }}</div>
        <div class="text-center"><b>{{ practice.title }}</b></div>
    </div>
    <div>
        <div class="col-md-6 text-center practice-axis">{{ practice.axis1 }}</div>
        <div class="col-md-6 text-center practice-axis">{{ practice.axis2 }}</div>
    </div>
    <div class="clearfix"></div>
    
    <div class="practice-content">
        <p>
            <span class="blue"> {{ practice.subject.field1 }}:</span>
            {{ practice.field1 }}
        </p>
        <p>
            <span class="blue">{{ practice.subject.field2 }}:</span>
            {{ practice.field2 }}
        </p>
        <p>
            <span class="blue">{{ practice.subject.field3 }}:</span>
            {{ practice.field3 }}
        </p>
        <p>
            <span class="blue">{{ practice.subject.field4 }}:</span>
            {{ practice.field4 }}
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<div id="comments" class="center-block">
    <div class="bgblue white practice-header">
        {% trans "Comments" %}
    </div>
    {% for comment in practice.comment_set.all %}
    <div class="comment">
        {{comment.author}} {% trans "on" %} {{comment.date}} :
        {{comment.text}}
    </div>
    {% endfor %}
    <form action="{% url 'practices:comment' subject_id=subject.id pk=practice.id %}" method="POST">
        {% csrf_token %}
        <label for="{{ comment_form.text.id_for_label }}">{% trans "Add a comment" %}</label>
        {{comment_form.text}}
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
</div>
{% endblock %}
