{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load practices %}

{% block pagetitle %}{{ subject.title }}{% endblock %}
{% block contenttitle %}{{ subject.title }}{% endblock %}
{% block content %}

{% if practice_list %}
<div class="center-block">
    <table class="table table-striped practice-table">
        <tr>
            <th></th>
            {% for column in columns %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            <th>{{row}}</th>
            {% with practice_list|filterbyaxis:row as practices %}
                {% for column in columns %}
                    <td>
                    {%for practice in practices|filterbyaxis:column %}
                        <a href="{% url 'practices:detail' subject_id=subject.id pk=practice.id %}" title="{{practice.title}}" alt="{{practice.title}}">
                        <img src="{% static 'icone.png' %}" class="icone" alt="icone"/>
                        </a>
                    {% endfor %}
                    </td>
                {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p>No practices are available.</p>
{% endif %}
<a href="{% url 'practices:new' subject_id=subject.id %}"><span class="btn btn-action">{% trans "Add new practice" %}</span></a><br/><br/>
<a href="{% url 'practices:subject_edit' pk=subject.id %}"><span class="btn btn-action">{% trans "Edit this subject" %}</span></a>
{% endblock %}
