{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "Subjects" %}{% endblock %}
{% block contenttitle %}{% trans "Subjects" %}{% endblock %}
{% block content %}

{% if subject_list %}
    <ul>
    {% for subject in subject_list %}
        <li>
            <a href="{% url 'practices:index' subject_id=subject.id %}">{{ subject.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
    <a href="{% url 'practices:subject_create'  %}"><span class="btn btn-action">Ajouter un sujet</span></a>
{% endblock %}
