{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block pagetitle %}{{ subject.title | default:_("New subject") }}{% endblock %}
{% block contenttitle %}{{ subject.title | default:_("New subject") }}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for form in forms %}
        {% if form.prefix = 'axis_set' %}<h2 class="title-border">Axes</h2>
        {% elif form.prefix = 'field_set' %}<h2 class="title-border">Champs</h2>
        {% endif %}

        <!--{{form.instance.title}}-->

        {{form|bootstrap_horizontal}}

    {% endfor %}
    <div class="btn-toolbar">
        <span class="btn btn-action" onclick="window.history.back();return false">{% trans 'Cancel' %}</span>
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-action"/>
    </div>
</form>
{% endblock %}
