{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block pagetitle %}{{ subject.title | default:_("Nouveau Sujet") }}{% endblock %}

{% block contenttitle %}{{ subject.title | default:_("Nouveau Sujet") }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function addForm(newFormDiv, targetDiv) { 
        var formIdx = targetDiv.querySelector('[id$=TOTAL_FORMS]').value;
        var newForm = document.createElement('div');
        newForm.innerHTML = newFormDiv.innerHTML.replace(/__prefix__/g, formIdx);
        while (newForm.firstChild) targetDiv.appendChild(newForm.firstChild);
        targetDiv.querySelector('[id$=TOTAL_FORMS]').value = parseInt(formIdx) + 1;
    }
</script>
{% endblock %}

{% block content %}

<h3>Création de votre practishare :</h3>

<p>Ce formulaire vous permet de configurer votre practishare en deux temps, en indiquant :</p> 

<ul>
    <li>un titre, les noms des 2 axes de votre tableau ainsi que les champs qui décrivent une pratique</li>
    <li>dans l'écran suivant, vous pourrez indiquer les valeurs des axes (entêtes du tableau).</li>
    
</ul>
    <p>Vous pourrez modifier cette configuration ultérieurement ("modifier le sujet")</p>
    <p>Si vous souhaitez que ce practishare ne soit pas public, décochez la case correspondante, sous le titre. Conservez alors précieusement le lien qui sera généré.</p>

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for form in forms %}
    {% if form.prefix = 'title' %}<h2 class="title-border">Titre du sujet</h2>{% endif %}

        {% if form.prefix = 'axis_set' %}<h2 class="title-border">Axes</h2>

        {% elif form.prefix = 'field_set' %}<h2 class="title-border">Champs</h2>

        {% elif form.prefix|slice:':4' = 'axis' %}

        <h2 class="title-border"> {{ form.instance.title}} </h2>

        {% endif %}
        <div>
            {{form|bootstrap_horizontal}}
        </div>
        {% if form.max_num > 2 %}
        <button type='button' onclick="addForm(this.nextElementSibling, this.previousElementSibling)" class="btn-action add-btn">Ajouter</button>
        <div style="display:none">
            <div class="clearfix"></div>
            {{ form.empty_form|bootstrap_horizontal }}
        </div>
        {% endif %}

    {% endfor %}

    <div class="btn-toolbar">
        <span class="btn btn-action" onclick="window.history.back();return false">{% trans 'Cancel' %}</span>
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-action"/>
    </div>
</form>
{% endblock %}
