{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block pagetitle %}{{ subject.title | default:_("New subject") }}{% endblock %}
{% block contenttitle %}{{ subject.title | default:_("New subject") }}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for form in forms %}
        {% if form.prefix = 'axis_set' %}Axes
        {% elif form.prefix = 'field_set' %}Champs
        {% endif %}

        {{form.instance.title}}

        {{form|bootstrap_horizontal}}

    {% endfor %}
    <div class="btn-toolbar">
        <span class="btn btn-warning" onclick="window.history.back();return false">{% trans 'Cancel' %}</span>
        <input class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
    </div>
</form>
{% endblock %}
